$background-color :#f6f0f0;
$text-color:rgb(128, 130, 132);
$forlogoandtitlefont:"Shrikhand", serif;
$text:"Roboto", sans-serif;
$text2-color:hsl(0, 13%, 86%);
$text3-color:rgb(49, 46, 46);
$primary-color: #9356dc;
$secondary-color:#ff79da;
$tertiary-color: #99e2d0;
$menubackground-color:hsl(240, 3%, 88%);
$menucontainercolor:rgb(245, 240, 240);
$box-shadow:5px 5px 5px rgba(0,0,0,0.2);
$price-color:rgb(151, 146, 146);
$font-weights: (
    "regular": 400,
    "meduim": 500,
    "bold": 900
);